# Java
backend/target/
backend/*.log
backend/.mvn/
# Node
frontend/node_modules/
frontend/dist/
frontend/.vite/
# MySQL
mysql-data/
# IDE
.idea/
*.iml
.vscode/
# OS
.DS_Store
Thumbs.db
# pnpm全局缓存
.pnpm_home/
# 常规前端依赖也补充屏蔽
node_modules/
.pnp
.pnp.js
# H2数据库文件，不纳入Git版本管理
*.mv.db
*.trace.db
backend/data/*.mv.db



